.getcar, .saleauto, .contacts{

    color: #222222;
    font-family: 'Open Sans', sans-serif;
    font-size: 17px;
    font-weight: 300;
    line-height: 29.5px;
    text-transform: uppercase;

}

.logo{
    width: 200px;
    margin-top: -20px;
    margin-left: 20px;

}
.number{
    /*width: 214px;*/
    /*height: 27px;*/
    padding-right: 25px;
    color: #222220;
    font-family: 'Open Sans', sans-serif;
    font-size: 30px;
    font-weight: 400
}
/*.col-5,.col-3,  .col-4  {*/
    /*!*border: 1px solid black;*!*/
    /*text-align: center;*/
/*}*/



.callme{
    padding-right: 25px;
    color: #000000;
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
    font-weight: 400;
    text-decoration: underline;
}
.col-3{

}
.col-4{
    display: flex;
    flex-direction: column;
}
.icon{
    margin-right: 25px;
}

.container{
    margin: 62px;

}

.title_container{
    text-align: center;

}

.text1{
    color: #171717;
    font-family: "Open Sans", sans-serif;
    font-size: 17px;
    font-weight: 400;
    text-transform: uppercase;
}

.text2{
    font-family: "Open Sans", sans-serif;
    font-size: 25px;
    font-weight: 700;
    letter-spacing: 0.75px;
    line-height: 42px;
}

.button1{
    border-radius: 30px;
    width: 301px;
    height: 59px;
    box-shadow: inset 1px 1px 0 rgba(255, 255, 255, 0.75);
    background-color: #ffffff;
    background-image: linear-gradient(to top, #9a0611 0%, #af000d 100%);
}

.btn_salers{
    width: 135px;
    height: 18px;
    color: #ffffff;
    font-family: "Open Sans", sans-serif;;
    font-size: 21px;
    font-weight: 400;
    letter-spacing: 0.53px;
}



.button2{
    border-radius: 30px;
    width: 301px;
    height: 59px;
    background-color: #f2f2f2;
    background-image: linear-gradient(to top, #cacaca 0%, #d4d4d4 100%);
}

.btn_avto{
    width: 159px;
    height: 18px;
    color: #222220;
    font-family: "Open Sans", sans-serif;
    font-size: 21px;
    font-weight: 400;
    letter-spacing: 0.53px;
}

.good_space1{
    margin-left: 30px;
}

.good_space2{
    margin-right: 65px;
}


.images{
    margin-top: -50px;
    overflow: hidden;
}

.image_car{
    text-align: center;
}

.test_b {
    overflow: hidden;
}

.four_icons p {
    color: #000000;
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    font-weight: 400;
    text-transform: uppercase;
    text-align: center;
}

.howsale{
    margin-top: 106px;

}

.howauto{

    color: #202020;
    font-family: "Open Sans", sans-serif;
    font-size: 30px;
    font-weight: 400;
    text-transform: uppercase;
}

.getcarrow{
    margin-top: 50px;
    margin-left: 540px;
}

.redhowget{
    font-weight:bold;
    font-family: "Open Sans", sans-serif;
    font-size: 20px;
    text-transform: uppercase;
    /* Text style for "Get" */
    color: #c10b19;
}

.otherhowget{
    font-weight:bold;
    width: 74px;
    height: 14px;
    color: #191919;
    font-family: "Open Sans", sans-serif;
    font-size: 20px;
    text-transform: uppercase;
}

.traditional_sale{
    font-weight:bold;
    margin-left: 165px;
    width: 213px;
    height: 17px;
    color: #202020;
    font-family: "Open Sans", sans-serif;
    font-size: 18px;

}

table{
    margin-top: 23px;
    border-collapse: collapse;
    width: 100%;
}

.textintable{
    width: 301px;
    height: 17px;
    color: #202020;
    font-family: "Open Sans", sans-serif;;
    font-size: 18px;
    font-weight: 400;
}
.yes_table{
    background-color: #f3f3f3;
    text-align: center;
    width: 30%;
}

.no_table{
    text-align: center;
    width: 30%;
}

.text_table1{
    width: 82px;
    height: 49px;
    color: #149827;
    font-family: "Open Sans", sans-serif;
    font-size: 60px;
    font-weight: 400;
    /* Text style for "Д, А" */
    letter-spacing: 1.37px;

}

.text_table2{
    width: 108px;
    height: 41px;
    color: #c00000;
    font-family: "Open Sans", sans-serif;
    font-size: 60px;
    font-weight: 400;
    /* Text style for "Н, ЕТ" */
    letter-spacing: 1.37px;

}

td{

}

.top_table{
    border-top: 1px solid #1d2124;
    padding: 15px;
}



.central_tabele{
    padding: 15px;
    border-bottom: 1px solid #ddd;
}

.end_table{
    padding: 15px;
    border-bottom: 1px solid #1d2124;
}
.sale_auto_easy {
    color: #202020;
    font-family: "Open Sans", sans-serif;
    font-size: 30px;
    font-weight: 400;
    text-transform: uppercase;
    margin-bottom: 50px;
    /* Text style for "Get," */
    color: #c00000;
    /* Text style for "Car" */
    color: #1a1a1a;
    /* Text style for "ПРОСТО" */
    color: #1b1b1b;
}
.sale_auto_easy span {
    font-size: 30px;
}



.black_text{
    color: #000000;
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    font-weight: 600;
}
.time_icons p{
    color: #818181;
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
    font-weight: 400
}
.time_icons p, span{
    margin-top: 50px;
    text-align: left;

}